*{  
    margin:0px;
    padding:0px;
}
#principal{
    width:960px;
    height: 900px; 
    margin: 0px auto;
    background: black;
    }
header{
    width: 960px;
    height: 200px;
    background:rgba(219, 126, 200, 0.48);
}

nav {
    width: 960px;
    height: 70px;
    background:grey;
}
#izq {
    width: 400px;
    height: 550px;
    background: rgb(70, 212, 193);
    float: left;
}
#der {
    width: 400px;
    height: 550px;
    background: rgb(103, 88, 138);
    float: left;
}
aside {
    width: 160px;
    height: 550px;
    background: rgb(0, 183, 255);
    float: left;

}
#caja {
    width: 300px;
    height: 200px;
    background: rosybrown;
    margin-left: 50px ;
    margin-top: 70px;
    
    
}
.cajitas1 {
    width: 300px;
    height: 100px;
    background: rgb(70, 23, 114);
    margin-left: 50px ;
    margin-top: 50px;
    margin-bottom: 20px;
}
.cajitas2 {
    width: 300px;
    height: 100px;
    background: rgb(74, 67, 77);
    margin-left: 50px ;
    margin-top: 50px;
    margin-bottom: 20px;
}
    
footer {
    width: 960px;
    height: 50px;
    background: rgb(113, 211, 104);
    float: left;
}
h1 
{
    font-family: 'Hurricane', cursive;
    text-align: center;
    font-size: 35px;
    color: rgba(240, 248, 255, 0.829);
}

h2 
{
    font-family: 'Palette Mosaic', cursive;
    text-align: center;
    font-size: 25px;
    color:rgba(16, 15, 17, 0.78);}

h3 
    {
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 15px;
        color:black;} 
